<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Início </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">
    <img
      class="img-item"
      src="https://drive.google.com/uc?id=16sL85fCiC5QVJsjgMPoWUTy374Wmlsny"
      alt="Imagem de Solidariedade"
    />
    <p>
      Existem pessoas precisando muito da sua ajuda! Veja abaixo como ajudar 😊
    </p>
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://drive.google.com/uc?id=1beDxDVrPMw9F-liUF9y1Kyf7b0i_fko1"
            alt="Quero Doar"
          />
        </ion-thumbnail>
        <ion-label> Quero Doar </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://drive.google.com/uc?id=1rAoVaWVzRzXbyFiKN33fnmov2XhCzagP"
            alt="Preciso de Doações"
          />
        </ion-thumbnail>
        <ion-label> Preciso de Doações </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
