<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Receber Doações </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo animate__animated animate__fadeInLeft">
    <img
      class="img-item"
      src="https://drive.google.com/uc?id=1sHTj2Q5mnvQ7tGNRqc0zhGZLBBJjlP5V"
      alt="Imagem Solidariedade"
    />
    <p class="texto-item">
      Está precisando de ajuda? Podemos te ajudar! Preencha os campos e fale com
      um voluntário. 🙏
    </p>
    <ion-button (click)="whats()" expand="block" type="submit"
      >Falar com Voluntário</ion-button
    >
  </div>
</ion-content>
